<%= render partial: "shared/header", locals: {domain: "anime"} %>

<p id="notice"><%= notice %></p>

<h1>Listing Animes</h1>

<div class="template">
  <div class="main_body">
    <p class="anime_title">
      <%=  t("anime.title1") %><br>
      <%=  t("anime.title2") %><br>
    </p>
    <table class="anime_panel">
        <% @animes.each do |zip, gif| %>
          <tr>
            <td><%= real_name(gif)                  %></td>
            <td><%= image_tag(gif, size: "100x60") %></td>
            <td><%= link_to(t("anime.download"), zip, download: '') %></td>
          </tr>
        <% end %>
    </table>
</div>

<%= render partial: "shared/footer" %>
